

/* -------------------- DEBUG CLASSES ----------------------*/
.d1 { background: pink; }
.d2 { background: lightblue; }
.d3 { background: lightgreen; }
.d4 { background: lightsalmon; }
.d5 { background: lightgrey; }
.d6 { background: yellow; }
.d7 { background: floralwhite; }
.d8 { background: gold; }

/*   font-family: 'Titillium Web', sans-serif;    */

body {
    font-family: 'Titillium Web', sans-serif;
}

.bg-light {
    background-color: transparent !important;
}

button:focus {
    border: none;
    outline: none;
}

.top-mobile-links {
    background: #003785;
    padding: 7px;
    .top-mobile-icon {
        width: 22px;
        display: inline-block;
        text-indent: -99999px;
        margin: 0 20px;
        &.directory{
            background:url("../images/phone-top-icon.svg") no-repeat center center;  
        }
        &.calendar {
            background:url("../images/calendar-top-icon.svg") no-repeat center center;  
        }
        &.search{
            background:url("../images/search-top-icon.svg") no-repeat center center;  
        }
        &.vacations{
            background:url("../images/top-vacations-icon.svg") no-repeat center 1px;  
            width: 23px;
        }
    }
}


/* -------------------- HEADER -----------------------------*/
.header {
    min-height: 100px;
    .navbar-light .navbar-nav .nav-link {
        color: #003785;
        font-weight: 600;
    }
    .navbar-brand {
        margin: 0 auto;
        .logo {
            width: 130px;
            margin-top: 9px;
            @media (min-width: 992px) {
                margin-bottom: 12px;
                width: 160px; 
            }
        }
    }
    @media (min-width: 992px) {
        border-top: 10px solid #003785;
        .navbar-light .navbar-nav .nav-link {
            padding: 5px 20px;
        }
    }
    @media (max-width: 992px) {
        .container {
            max-width: 100%;
        }
    }
}
.navbar-light {
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 37px;
        border: none;
    }
}

.navbar-light .navbar-toggler-icon {
    background:url("../images/baseline-menu.svg") no-repeat center center; 
}

/*-------- Selected Item ----------*/

.nav-item { 
    @media (max-width: 992px) {
        margin: 0 0 0 10px;
    }  
    @media (min-width: 992px) { 
        margin: 0 0 0 5px;
        .nav-link {
            border-radius: 20px;
            padding: 5px 26px;
            &.active {
                background: #003785;
                color: #fff !important;
            }
        }
    } 
}

/*-------- Search ----------*/
.nav-item.search {
    display: none;
    display: block;
    position: relative;
    margin-left: 20px;

    @media (min-width: 992px) {
        display: block;
        .nav-link {
            display: block;
            background: url("../images/gray-search-top-icon.svg") no-repeat center center; 
            width: 42px;
            height: 40px;
            text-indent: -99999px;
            &:before {
                width: 2px;
                height: 25px;
                display: block;
                background: #D8D8D8;
                position: absolute;
                content: "";
                left: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .nav-item { 
      z-index: 9999999;
      position: relative;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-item.dropdown:after {
      content: "";
      width: 15px;
      height: 25px;
      background: url("../images/mobile-gray-arrow.svg") no-repeat center center;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      position: absolute;
      right: 15px;
      top: 8px;
    }
    .nav-item .nav-link {
      z-index: 99999;
      position: relative;
    }
    .nav-item:hover.dropdown:after {
      background: url("../images/mobile-gray-arrow.svg") no-repeat center center;
    }
    .nav-item.dropdown.show:after {
      background: url("../images/mobile-gray-arrow.svg") no-repeat center center;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .navbar-light .navbar-nav .nav-item {
      border-bottom: solid 1px #E5E5E5;
      position: relative;
      margin-left: 0;
    }
}
.navbar-collapse {
    margin-right: 15px;
    margin-left: 15px;
}


/* -------------------- NAVIGATION --------------------------*/

@media (max-width: 991px) {
    .nav-item {  
        border-bottom: solid 1px #E5E5E5;
        position: relative;
        padding-left: 10px;  
    }
    .dropdown-menu {
        border: none;
        padding: 0;
        margin-bottom: 13px;
        .dropdown-item {
            padding: .45rem 0;
        }
    }
    .navbar-nav {
        margin-bottom: 10px;
    }
}


/* -------------------- MAIN SLIDER ------------------------*/

.main-slider {
    height: 370px;
}
.shadow-box {
    background: #FFFFFF;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}


/* -------------------- TITLES -----------------------------*/

h1, h2, h3, h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px; 
    @media (min-width: 768px) {
        font-size: 38px;
    }
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}


.mardom-forms {
    h4 {
        font-size: 18px;
        color: #003785;
    }
    h3 {
        color: #003785;
        margin-bottom: 17px;
    }
    .mardom-form-header h4 {
        color: #fff;
    }
}


/* -------------------- QUICK LINKS ------------------------*/
.quick-links {
    margin-top: -40px;
    a {
        font-size: 18px;
        font-weight: 600;
        color: #003785;
        text-decoration: none;
        padding-left: 67px;
        line-height: 22px;
        min-height: 105px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        @media (min-width: 768px) {
            background-size: 42px;
        }

        .call-to-action {
            font-size: 13px;
            font-weight: 500;
            color: #525252; 
            @media (min-width: 768px) {
                font-size: 15px;
            }
        }
        &.calendar{
            background: #fff url("../images/calendar-icon.svg") no-repeat 23px 27px; 
            background-size: 35px;
            @media (min-width: 768px) {
                background-size: 42px;  
            }
        }
        &.directory{
            background:#fff url("../images/phone-icon.svg") no-repeat 20px 32px;  
            background-size: 37px;
            @media (min-width: 768px) {
                background-size: 42px;
            }
        }
        &.vacations{
            background:#fff url("../images/vacations-icon.svg") no-repeat 23px 32px;  
            background-size: 35px;
            @media (min-width: 768px) {
                background-size: 42px;
            }
        }
    }
    @media (min-width: 768px) {
        a {
            padding-left: 78px !important; 
            font-size: 21px;
            line-height: 24px;
        }
    }
}

.communication-title, 
.birthday-title, 
.sources-title,
.suggestions-title,
.events-title,
.utilities-title,
.releases-title {
    text-align: center;
    color:#003684;  
    background: url("../images/communication-icon.svg") no-repeat 0 0;  
    background-size: 46px;
    display: inline-block;
    padding: 5px 5px 5px 54px;
    & + p{
        text-align: center;
    }
    @media (min-width: 768px) {
        padding-left: 84px;
        background-size: 70px
    }
}

.communication {
    margin-top: 40px;
}
.birthday-title {
    background: url("../images/birthday-icon.svg") no-repeat 0 0;
    background-size: 37px;
    padding: 7px 5px 5px 47px;
    @media (min-width: 768px) {
        padding-left: 74px;
        background-size: 56px;
    }
}
.sources-title {
    background: url("../images/resources-icon.svg") no-repeat 0 0;
    background-size: 37px;
    padding: 7px 5px 5px 47px;
    @media (min-width: 768px) {
        padding-left: 74px;
        background-size: 56px;
    }
}
.suggestions-title {
    background: url("../images/suggestion-icon.svg") no-repeat 0 0;
    background-size: 47px;
    padding: 7px 5px 5px 47px;
    @media (min-width: 768px) {
        padding-left: 74px;
        background-size: 66px;
    }
}
.events-title {
    background: url("../images/events-icon.svg") no-repeat 0 0;
    background-size: 47px;
    padding: 12px 5px 8px 56px;
    @media (min-width: 768px) {
        padding-left: 74px;
        background-size: 63px;
    }
}

.utilities-title {
    background: url("../images/utilidades-icon.svg") no-repeat 0 0;
    background-size: 47px;
    padding: 15px 5px 8px 56px;
    @media (min-width: 768px) {
        padding: 15px 5px 18px 85px;
        background-size: 73px;
        margin-bottom: 15px;
    }
}



.releases-title {
    background: url("../images/comunicados-icon.svg") no-repeat 0 0;
    background-size: 47px;
    padding: 12px 5px 8px 56px;
    @media (min-width: 768px) {
        padding-left: 94px;
        background-size: 83px;
    }
}

/* -------------------- HOME APPS --------------------------*/
.applications {
    background-color: #003785;
    .application-content {
        padding-top: 60px;
        h2 {
            margin-bottom: 30px !important;
        }
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .application-title {
        background: url("../images/applications-icon.svg") no-repeat 0 0;
        background-size: 37px;
        padding: 7px 5px 5px 47px;
        color: #fff;
        @media (min-width: 768px) {
            padding-left: 74px;
            background-size: 56px;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        padding-left: 65px;
        margin-bottom: 30px;    
        display: block; 
        position: relative;
        .icon {
            position: absolute;
            left: 0;
            width: 50px;
            text-align: center;
        }
    }
    .app-picture {
        min-height: 589px; 
        background-image: url('../images/harbour.jpg');
        background-repeat: no-repeat;
        background-size: 240%;
        background-position-x: -200px;

        @media (min-width: 768px) {
            min-height: 589px;
            background-size: 240%;
            background-position-x: -200px;
            background-position-y: 78%;
        }
        @media (min-width: 992px) {
            min-height: 430px;
            background-size: 240%;
            background-position-x: -200px;
            background-position-y: 90%;
        }
        @media (min-width: 1200px) {
            min-height: 430px;
            background-size: 240%;
            background-position-x: -200px;
            background-position-y: 87%;
        }
    }
    
    
}
.application-content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;  
    padding-bottom: 50px !important; 
}
@media (min-width: 576px) {
    .application-content {
        max-width: 540px;    
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto;
        margin-left: auto;
        text-align: right;  
        text-align: left;
    }
}
@media (min-width: 768px) {
    .application-content {
        max-width: 330px;                 
        float: right;
        margin-right: 15px;
        padding-left: 0 !important;
    }
}
@media (min-width: 992px) {
    .application-content {
        min-width: 450px;
    }
}
@media (min-width: 1200px) {
    .application-content {
        min-width: 541px;
        padding-right: 30px; 
    }
}


.upcoming-events {
    padding: 50px 0;
    background: #E8EDF3;
    border-top: solid 1px #CDD8E1;
    .event-post {
        color: #212529;
        text-decoration: none;
        .event-summary {
            position: relative;
            padding-left: 65px;
            margin-top: 20px;
            h4 {
                font-size: 18px;
                color: #494949;
            }
        }
        
    }
}

/* -------------------- BIRTHDAYS --------------------------*/

.birthdays {
    background-image: url('../images/birthday-bg.jpg');
    background-color: #43525F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px 0;
    h2, p {
        color: #fff;
        text-align: center;
    }
    @media (min-width: 1200px) {   
        background-size: 100%;
    }
}
.birthday-item {
    text-align: center;
    color: #fff;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    .birthday-picture {
        width: 119px;
        height: 119px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        border: solid 7px #fff;
        overflow: hidden;
        margin: 0 auto 10px auto;
        img {
            width: 100%;
        }
    }
    .birthday-name {
        font-weight: 600;
        font-size: 19px;
    }
    .birthday-date {
        font-size: 16px;
    }
    .birthday-link {
        font-size: 14px;
        .feather {
            width: 20px;
            margin-top: -2px;
            margin-right: -4px;
            margin-left: -17px;
        }
    }
}

/* -------------------- SOURCES & TOOLS --------------------------*/
.sources-and-tools {
    padding: 50px 0;
    h2 {
        color: #003684;
    }
}
.mardom.card {
    border: none;
    height: 100%;

    .see-more {
        position: absolute;
        right: 20px;
        bottom: 25px;
    }
    .card-header {
        background-color: transparent;
        border-bottom: none;
        font-weight: 600;
        color: #003684;
        padding-left: 67px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 76px;

        &:before {
            content: "";
            width: 56px;
            height: 56px;
            background: #0051A3 url("../images/document-w-icon.svg") no-repeat center center;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
        }  
        
    }
    .card-header.aditional-sources {
        &:before {
            background: #0051A3 url("../images/sources-icon.svg") no-repeat center center !important;
        }
    }

    .card-header.calendar-events {
        &:before {
            background: #0051A3 url("../images/calendar-icon-box.svg") no-repeat center center !important;
        }
    }

    .card-header.recent-links {
        &:before {
            background: #0051A3 url("../images/links-icon.svg") no-repeat center center !important;
        }
    }
}




/* -------------------- LISTS ------------------------------*/
.checks-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
    li {
        background: url(../images/check-list.svg) no-repeat left 9px;
        padding-left: 27px;
        line-height: 33px;
    }
}
.icons-list, .arrow-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
    li {
        position: relative;
        border-bottom: solid 1px #ECECEC;
        padding-left: 62px;
        min-height: 75px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 19px;
        .icon {
            position: absolute;
            left: 0;
            top: 14px;;
        }
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                color: #808080;
            }
        }
    }
}
.arrow-list {
    li {
        position: relative;
        background: url("../images/gray-arrow.svg") no-repeat 0 center;
        padding-left: 22px;
        min-height: 42px;
    }
}

/* -------------------- LINKS ------------------------------*/
.see-more {
    color: #1B75BC;
    .feather {
        margin-right: -4px;
        margin-top: -4px;
    }
    &:hover {
        text-decoration: none;
    }
}
/* -------------------- SUGGESTIONS --------------------------*/

.suggestions {
    background: #E8EDF3;
    padding: 50px 0;
    form {
        padding: 25px;
        label {
            font-weight: 600;
        }
        button.btn-primary {
            width: 100%;
            &:hover {
                cursor: pointer;
            }
            @media (min-width: 992px) {
                width: auto;
            }
        }
        @media (min-width: 992px) {
            padding: 40px;
        }
    }
}

.btn-primary {
    background: #003785;
    border: solid 1px #003785;
    padding: 8px 50px;
    font-size: 18px;
}

.feather {
    margin-left: -15px;
    margin-top: -3px;
}

/* -------------------- MISCELANEOUS -----------------------*/
@media (min-width: 768px) {
    .mt-md-6, .my-md-6 {
        margin-top: 8rem!important;
    }
}

/* -------------------- FOOTER -------------------------------*/
.footer {
    background: #133669;
    padding: 60px 0;
    color: #fff;
    font-size: 14px;
    a {
        color: #fff;
    }
    h6 {
        font-size: 1rem;
        font-weight: 600;
    }
    ul {
        list-style: none;
        padding: 0;
        border-bottom: solid 1px #325D9F;
        padding-bottom: 25px;
        @media (min-width: 768px) {
            border-bottom: none;
        }
        li {
            line-height: 25px;
        }
    }
    .footer-logo {
        margin-bottom: 15px;
        img {
            width: 144px;
        }
    }
}



@media (max-width: 768px) {
    .owl-carousel.owl-theme.row { 
        margin: 0;
    }
}

.sliderContainer.fullWidth  {
    margin: 0;
    max-width: 100%;
}

.main-slider {
    clear: both;
    overflow: hidden;
}

#full-width-slider {
    height: 370px !important;
}

img.rsImg {
    max-width: none;
    opacity: 0.5;
    background-color: white;
}

.slider-center-container {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 80px;
    .col-md-12 {
        padding: 0;
    }
    h5 {
        text-transform: uppercase;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px;   
        color: #FFFFFF;
        letter-spacing: -0.88px;
        font-weight: 700;
        margin-bottom: -1px;
    }
    h6 {
        color: #FFFFFF;
        font-family: 'Titillium Web', sans-serif;
        text-transform: none;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 15px;
    }
    @media (min-width: 992px) {
        text-align: left;
        top: 110px;
        z-index: 99999;
        h5 {
            font-size: 41px;
        }
        h6 {
            font-size: 18px;   
        }
    }
}

.rsMinW .rsBullets {
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 55px;
}

.rsMinW .rsBullet {
    width: 12px !important;
    height: 12px !important;
    margin: 5px;
}

.rsMinW .rsBullet span {
    width: 12px !important;
    height: 12px !important;
}

.rsMinW .rsBullets {
    bottom: 55px !important;
    padding: 4px;
}


/* -------------------- CONTECT SECTION --------------------*/

.content-art {
    height: 140px; 
    h1 {
        margin-top: 50px;
        font-size: 20px;
        @media (min-width: 768px) {
            font-size: 30px;
        }
        color: #fff;
        text-shadow: 0 2px 21px rgba(0,0,0,0.50);
    }
    .container {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    img {
        width: 100%;
        height: 141px;
    }
}


.breadcrumb-wrapper {
    margin-bottom: 30px;
    background: #E9ECEF;
    ol {
        margin: 0;
    }
}
.content-section {
    margin-bottom: 30px;
}
.side-menu {
    list-style: none;
    padding: 0;
}



/* -------------------- EVENTS --------------------*/
.event-post {
    .event-picture {
        img {
            width: 100%;
        }
    }
    .actions {
        position: relative;
        .share, .favorite {
            width: 40px;
            height: 40px;
            display: block;
            text-indent: -999999px;
            position: absolute;
            top: -25px;
            right: 10px;
            background: url("../images/share-icon.svg") no-repeat 0 0;
            background-size:40px;
        }
        .favorite {
            right:60px;  
            background:url("../images/favorite-icon.svg") no-repeat 0 0;
            background-size:40px;
        }
    }

    .event-description {
        padding-left: 65px;
        padding-top: 25px;
        position: relative;
        h5 {
            font-size: 16px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
    }
    .event-picture {
        background: #fff;
        border-radius: 5px;
        border: 7px solid #FFFFFF;
        box-shadow: 0 0 15px 0 rgba(1,1,1,0.30);
        margin-top: 20px;
        img {
            border-radius: 5px;
        }
    }

    .event-date {
        width: 50px;
        text-align: center;
        position: absolute;
        left: 0;
        .day {
            font-size: 35px;
            font-weight: bold;
            color: #003684;
            margin-top: -11px;
        }
        .month {
            font-size: 11px;
            margin-top: -7px;
            text-transform: uppercase;
        }
    }
}

.events-list {
    .event-post {
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 15px 0 rgba(1,1,1,0.3);
        box-shadow: 0 0 15px 0 rgba(1,1,1,0.3);
        a {
            border: none;
        }
        .event-picture {
            img {
                border-radius: 1px;
            }
        }
    }
    .event-description {
        padding-bottom: 15px;
        margin: 0 15px 27px 15px;
    }
}
/*--------------------- EVENTS SINGLE -------------*/

.event-post {
    .event-picture {
        img {
            width: 100%;
        }
    }
}
.event-top-art {
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.12);
    border-radius: 10px;
    overflow: hidden;
    .main-picture {
        img {
            width: 100%;
        }
    }
    .event-art-date {
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 10px;
        color: #686868;
        font-weight: bold;
        margin-bottom: 25px;
        strong {
            font-family: 'Titillium Web', sans-serif;
            font-weight: bold;
            font-size: 28px;
            color: #026C9A;
            letter-spacing: 0;
            display: block;
        }
    }
    .event-art-title {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 500;
        font-size: 19px;
        color: #5E5E5E;
        letter-spacing: 0;
        line-height: 23px;
    }
    .col-md-4 {
        padding-right: 40px;
    }
    .btn-reservar {
        width: 100%;
        background: #00AB44;
        border: solid 1px #00AB44;
        border-radius: 7px;
        padding: 10px;
        text-transform: uppercase;
        margin-bottom: 36px;
        &:hover {
            background: #009F40;
            border: solid 1px #009F40;  
        }
        &:active{
            background: #178C46 !important;
            border: solid 1px #178C46 !important;   
        }
    }
}

.events-description {
    a:hover {
        text-decoration: none;
        color: #003684;
    }
}

.back-next-links {
    a:hover {
        text-decoration: none;
        color: #003684;
    }
    .previous-event {
        float: left;
        background: url(../images/arrow-back.svg) no-repeat 0 center;
        padding-left: 23px;
    }
    .go-home {
        background: url(../images/dashboard-icon.svg) no-repeat 0 center;
        padding-left: 23px;
    }
    .next-event {
        background: url(../images/next-arrow.svg) no-repeat right center;
        padding-right: 23px;
    }
}


.left-line {
    @media (min-width: 768px) {
        border-left: solid 3px #F5F5F5;
        padding-left: 30px;
    }
}

.list-none {
    list-style: none;
    padding: 0;
}
.small-upper-text {
    text-transform: uppercase;
}


.breadcrumb {
    background-color: transparent;
    li {
        a {
            color: #003785;
        }
        &:first-child {
            a {
                background: url(../images/item-home.svg) no-repeat right center;
                display: block;
                width: 23px;
                height: 23px;
                display: inline-block;
                text-indent: -99999px;
            }
        }
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
    background: url(../images/br-separator.svg) no-repeat right center;
    width: 14px;
    height: 24px;
    display: inline-block;
    margin-left: 5px;    
    margin-bottom: -6px;
    margin-right: 14px;
}


.sidebar {
    .card.shadow-box {
        border: none;
    }
    .card-header {
        background-color: #003684;
        color: #fff;
    }
    .side-menu {
        li {
            margin-bottom: 10px;
            a {
                color: #003684;
                display: block;
                border-radius: 3px;
                padding: 4px;
                text-decoration: none;
                &:hover {
                    color: #003684;
                    display: block;
                    border-radius: 3px;
                    background: #F0F1F3;
                    padding: 4px 8px 4px 8px;
                    margin-left: -4px;
                }
            }
        }
    }
}


.btn-primary:hover {
    cursor: pointer !important;
}

.royalSlider {
    width: 100% !important;
    height: 400px;
}

.rsOverflow {
    margin-bottom: 50px;
    overflow: hidden;
}
.rsDefault .rsThumbsHor {
    width: 301px !important;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    float: none; 
}



.rsNavItem.rsThumb {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.6;
  &.rsNavSelected {
    -webkit-filter: grayscale(1%); 
    filter: grayscale(1%);
    opacity: 1;
  }
}


/*--------------------- Search ------------------------------------*/

#search-collapse {
    .card {
        border: none;
        background: #fff;
        border-radius: 0;
        height: 93px;
        border-top: solid 7px #133669;
    }
    top: -82px;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    top: -80px;
    transition: all .2s ease-in-out;
    &.collapse.show {
        top: 0;
    }
    .search-field {             
        position: absolute;     
        left: 0;
        width: 75%;
        height: 49px;
        padding: 10px 33px 10px 65px; 
        outline: 0;
        border: none;
        color: #133669;
        font-size: 17px;
        background: #fff url(../images/gray-search-top-icon.svg) no-repeat 24px 10px;
        
        
        background-size: 27px !important; 

        @media (max-width: 992px) {
            width: 75%; 
        }
        @media (min-width: 780px) {
            width: 90%; 
        }
    }
    .search-close {
        position: absolute;
        top: 30%;
        right: 29px;
        font-weight: 300;
        font-size: 16px;
        cursor: pointer;
        z-index: 99999;
        color: #999;
        border: none;
        outline: 0;
        background: 0 0;
        .material-icons {
            color: #fff;
            font-size: 33px;
            padding: 6px;
            margin: 0;
        }
    }    
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #133669;
        font-family: 'Roboto', sans-serif;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #133669;
        font-family: 'Roboto', sans-serif;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #133669;
        font-family: 'Roboto', sans-serif;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #133669;
        font-family: 'Roboto', sans-serif;
      }
}

.fashion-row:before {
    content: "";   
    width: 30px;
    height: 16px;
    position: absolute;
    top: -9px;
    z-index: 5;
    left: 515px;
    background: url('../images/top-arrow.svg') no-repeat 0 0;
    background-size: 28px;
}


@media (min-width: 1200px) {
    .fashion-row:before {
        left: 699px !important; 
    }
}

.employee-month {
    padding: 50px 0;
    background: #003785;
    color: #fff;
    h2 {    
        padding-left: 60px;
        font-size: 31px;
        margin-bottom: 20px;
        background: url('../images/trophy.svg') no-repeat 0 0;
        padding-top: 46px;
    }
    .employee-name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 17px;
    }
}

.search-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: -1;
    background-color: rgba(26,29,36,0.9);
    display: block;
}

/*------------------------ MARDOM FORMS ---------------------------*/

.mardom-forms {
    .mardom-form-header {
        background: #003785;
        color: #fff;
        padding: 20px 20px 20px 30px ;
        border-radius: 10px;
        .mardom-form-logo {
            float: right;
        }
        h4 {
            font-size: 26px;
            margin: 0;
            margin-bottom: -5px;
        }
    }
    &.white-box {
        background: #FFFFFF;
        box-shadow: 0 7px 71px 0 rgba(109,109,109,0.15);
        border-radius: 10px;
        padding: 22px 22px 0 22px;
    }
    .left-fields {
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px
    }
    .sidebar-form {
        height: 100%;
        padding-left: 34px;
        padding-right: 21px;
    }
    .outstanding-box {
        border: solid 1px #CFD3D5;
        background: #F8FAFC;
        border-radius: 5px;
        padding: 17px;
        margin-bottom: 20px;
    }
    .step-numbers {
        list-style: none;
        text-align: center;
        padding: 25px 0;
        li {
            display: inline-block;
            background: #fff;
            width: 32px;
            display: inline-block;
            height: 32px;
            padding: 1px;
            font-size: 18px;
            border-radius: 18px;
            border: solid 1px #fff;

            a {
                color: #000;
            }
            
            &.current {
                border: solid 2px #00AAF7;
                a {
                    color: #00AAF7;
                }
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
    .form-illustration {
        img {
            width: 100%;
        }
    }
    .mardom-form-logo {
        background:  url(../images/mardom-inverted.png) no-repeat 0 0;
        width: 111px;
        height: 54px;
        background-size: 100%;
        text-indent: -99999px;
    }
}


.step-description {
    text-align: center;
    h5 {
        font-weight: bold;
        font-size: 16px;
    }
    p {
        text-align: center;
        font-size: 12px;
    }
}

.vertical-divider {
    background: url("../images/repeated-line.png") repeat-y right;   
}

.picture-holder img{
    border-radius: 100%;
    border-radius: 100px; 
    border: solid 7px #fff;
}


.custom-file-input:lang(en)~.custom-file-label::after {
    content: "" !important;
    padding-left: 49px;
    color: #fff;
    border-radius: 6px;
    border: solid 2px #fff;
    background: #96A3A9 url(../images/upload-icon.svg) no-repeat 17px 7px;
    padding-bottom: 10px;
    padding-top: 4px;
    padding-right: 3px;
}

.next-btn {
    position: relative;
    .feather-chevron-right {
        position: absolute;
        right: 10px;
        top: 14px;
    }
}
.back-btn {
    position: relative;
    background: #E7EAEC;
    border: solid 1px #E7EAEC;
    color: #7C7E80;
    .feather-chevron-left {
        position: absolute;
        left: 22px;
        top: 14px;
    }

}

.table-bordered {
    thead {
        background: #E6E6E6;
    }   
}

.table-bordered td, .table-bordered th {
    border: 1px solid #CFD3D5;
}


.recent-links {
    .icons-list li a, 
    .arrow-list li a {
        color: #1B75BC !important;
        text-decoration: none;
    }  
}


.arrow-list {
    margin-left: 10px;
    margin-right: 10px;
}

/*-------------- TEMP STYLES -----------------*/
.tasks-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .date-block {
        width: 82px;
        position: absolute;
        left: 0;
        .month {
            text-transform: uppercase;
            text-align: center;
            height: 20px;
        }
        .date {
            text-align: center;
            font-size: 55px;
            font-weight: bold;
            color: #003684;
            height: 43px;
            line-height: 39px;
        }
    }
    
    .description {
        padding-top: 16px;
    }

    li {
        padding-left: 96px;
        position: relative;
        min-height: 63px;
        margin-bottom: 14px;
        border-bottom: solid 1px #E9E9E9;
        padding-bottom: 15px;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

.collage-rapper {
    position: relative;
    width: 558px;
    height: 470px;
    .picture-a {
        position: absolute;
        width: 52%;
        height: 49%;
        left: 28px;
        top: 1px;
        overflow: hidden;
        -webkit-box-shadow: 0 30px 34px 0 rgba(0,0,0,0.18);
        box-shadow: 0 30px 34px 0 rgba(0,0,0,0.18);
        border-radius: 8px;
    }
    .picture-b {
        position: absolute;
        width: 75%;
        height: 72%;
        left: 83px;
        top: 76px;
        overflow: hidden;
        -webkit-box-shadow: 0 30px 34px 0 rgba(0,0,0,0.18);
        box-shadow: 0 30px 34px 0 rgba(0,0,0,0.18);
        border-radius: 8px;
    }
    .picture-c {
        position: absolute;
        width: 37%;
        height: 36%;
        left: 58%;
        top: 43%;
        -webkit-box-shadow: 0 30px 34px 0 rgba(0,0,0,0.18);
        box-shadow: 0 30px 34px 0 rgba(0,0,0,0.18);
        border-radius: 8px;
        overflow: hidden;
    }
}

/* comunicados-icon.svg */ 

.releases {
    margin-bottom: 50px;
    background: #E8EDF3;
    padding: 40px 0 65px 0;
    .nav-pills {
        margin-top: 32px;
    }
    .tab-content {
        background: #F8F8F8;
        padding: 30px;
        border-radius: 8px;
        min-height: 280px
    }
    .nav-pills .nav-link.active, 
    .nav-pills .show>.nav-link {
        color: #626262;
        background-color: #F8F8F8;
        font-size: 16px;
        font-weight: 600;
        
    }
    .nav-pills .nav-link {
        font-size: 16px;
        font-weight: 600;
        padding-left: 40px;
        background: url(../images/gray-arrow.svg) no-repeat 22px 12px;
        background-size: 9px; 
        margin-right: -34px;
    }
    .nav-pills .nav-link {
        border-radius: .25rem;
        color: #626262;
        margin-bottom: 8px;
    }
}

.hor-divider {
    background: url(../images/hr.png) no-repeat center 0;
    height: 77px;
    margin-bottom: 0;
    border: none; 
}

.icons-list.arrow-list.blue-links {
    li  a {
       color: #1B75BC !important;
       &:hover {
           opacity: 0.7;
       }
    }
    li {
        position: relative;
        background: url(../images/blue-arrow.svg) no-repeat 0 center;
        padding-left: 22px;
        min-height: 42px;
    }
}