
a:focus {
  outline: 0;
}

.product-heading {
  font-size: 18px;
  border-bottom: 2px solid #265196;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.section-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
}
.section-heading::after {
  background-color: #265196;
  bottom: -7px;
  content: "";
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 70px;
}

.section {
  padding: 80px 0;
}

.button {
  background-color: #ffffff;
  border-radius: 40px;
  border: 2px solid #ffffff;
  color: #1c1c1c;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7;
  padding: 10px 40px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  min-width: 200px;
}
.button:hover {
  background-color: #265196;
  color: #ffffff;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}


.submenu-block {
  width: 41%;
  float: left;
  margin-right: 11px;
  margin-bottom: 20px;
  padding-right: 30px;
}


@media (min-width: 1200px) {
  .submenu-block {
      width: 32% !important;
  }
}



.submenu-block h4 { 
  font-size: 18px;
  padding-top: 47px;
  background: url("../images/section-link-icon.svg") no-repeat left 0;
  color: #003785;
}
/*
.departments-menu-link {
  background: url("../images/large-blue-arrow.svg") no-repeat right 15px;
}
*/

.submenu-block  ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu-block ul li a {
  color: #1B75BC;
  background: url("../images/small-blue-arrow.svg") no-repeat left 11px;

}
.departments-menu-item-row h3{
  color: #003785;
  margin-top: 22px;
  margin-bottom: 22px;
}

/*=====  End of common css  ======*/
/*====================================
=            main wrapper            =
====================================*/
.main-wrapper {
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-wrapper::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.55);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.main-wrapper .content-wrapper {
  bottom: 0;
  color: #ffffff;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}
.main-wrapper .content-wrapper h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.main-wrapper .content-wrapper p {
  font-size: 18px;
  margin: 20px 0 30px 0;
}

/*=====  End of main wrapper  ======*/
/*==================================
=            navigation            =
==================================*/
.demo-14 {
  background-color: #ffffff;
  z-index: 9;
}
.demo-14 .dropdown-menu.active {
  display: block;
}
.demo-14 .dropdown-menu.active.show {
  display: none;
}
.demo-14 .navbar-toggler:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.demo-14 .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
.demo-14 .dropdown-item:focus, .demo-14 .dropdown-item:hover {
  background-color: #265196;
  color: #ffffff;
}
.demo-14 .navbar-brand {
  color: #265196;
  font-size: 24px;
  font-weight: bold;
}
.demo-14 .iconbar {
  color: #265196;
}
.demo-14 .navbar-nav .nav-item .nav-link {
  color: #265196;
  padding: 13px 15px;
  font-size: 16px;
  text-transform: uppercase;
}
.demo-14 .navbar-nav .nav-item.show .nav-link {
  background-color: #265196;
  color: #ffffff;
}
.demo-14 .dropdown-menu {
  border: none;
  background-color: #ffffff !important;
  font-size: 14px;
}
.demo-14 .dropdown-menu .nav-item .nav-link {
  color: #1c1c1c;
  padding: 6px 0;
}

.fashion-list {
  position: relative;
  background-color: #F3F8FE;
  border-right: solid 1px #DEE4EB;
  height: 468px;
  width: 200px;
}


.fashion-list {
  position: relative;
  background-color: #F3F8FE;
  border-right: solid 1px #DEE4EB;
  height: 558px;
  width: 225px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0 -15px 0px -15px;
  padding: 15px;
}



.departments-menu-item .departments-menu-link {
  display: block;
  padding: 10px;
  font-weight: normal;
  position: relative;
  color: #003785;
}

.departments-menu-item .departments-menu-link.active {
  background-color: #265196;
  color: #ffffff;
  border-radius: 5px;
}
.departments-menu-item .departments-menu-link:hover {
  text-decoration: none;
}

.fashion-row .col-12 {
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.12); 
  border-radius: 5px;
  z-index: 4;
  background: #fff;
  overflow: hidden;
}

.rsMinW .rsBullets {
  z-index: 3;
}

.departments-menu-item .departments-menu-link.active::after {
  border-bottom: 6px solid #265196;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  position: absolute;
  right: -9px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 1;
}
.departments-menu-item .departments-menu-item-row {
  position: absolute;
  right: 0;
  left: 250px;
  top: 0;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 870px;
}
.departments-menu-item .departments-menu-item-row.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.departments-menu-item .departments-menu-item-row ul li a{
  padding: 6px 12px;
  display: block;
}

.departments-menu-grid {
  color: #777777;
}
.departments-menu-grid h6 {
  font-weight: bold;
}

.option-2navtab li a {
  background-color: #eeeeee;
  display: block;
  border-right: 1px solid #a1a1a1;
  padding: 10px;
  position: relative;
}
.option-2navtab li a.active {
  background-color: #265196;
  color: #ffffff;
}
.option-2navtab li a.active::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #265196;
  bottom: -6px;
  content: "";
  left: 42%;
  position: absolute;
}

.electronicsTabContent {
  padding: 10px;
}
.electronicsTabContent ul li {
  padding: 6px 0;
}

/*=====  End of navigation  ======*/
/*================================
=            featured            =
================================*/
.feature-column {
  font-size: 14px;
  padding: 20px 15px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
}
.feature-column::before {
  border-top: 3px solid #265196;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s ease-in-out all;
  -moz-transition: 0.3s ease-in-out all;
  -ms-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  width: 0;
}
.feature-column:hover::before {
  -webkit-transition: 0.3s ease-in-out all;
  -moz-transition: 0.3s ease-in-out all;
  -ms-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  width: 100%;
}
.feature-column .icon {
  background-color: #265196;
  border-radius: 50%;
  -webkit-box-shadow: 4px 3px 26px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 4px 3px 26px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 4px 3px 26px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 4px 3px 26px rgba(0, 0, 0, 0.22);
  box-shadow: 4px 3px 26px rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  width: 60px;
}
.feature-column h3 {
  font-size: 18px;
  margin: 30px  0 20px;
  font-weight: 600;
}

/*=====  End of featured  ======*/
/*=================================
=            demo show            =
=================================*/
.demo-show-column .demo-show-content {
  text-align: center;
  background-color: #ffffff;
  padding: 20px 10px;
}
.demo-show-column .demo-show-content .demo-button {
  background-color: #265196;
  border-radius: 40px;
  border: 2px solid #265196;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding: 6px 20px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
.demo-show-column .demo-show-content .demo-button:hover {
  background-color: #ffffff;
  color: #1c1c1c;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

/*=====  End of demo show  ======*/
/*===============================
=            footer            =
===============================*/
.footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 15px 0;
}
.footer a {
  color: #ffffff;
}

/*=====  End of footer  ======*/
/*=====================================
=            media queries            =
=====================================*/
@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar .dropdown-menu {
    background-color: #ffffff;
    border-radius: 0;
    border-width: 4px 0 0 0;
    border-style: solid;
    border-color: #265196;
    left: 0;
    padding: 0;
    right: 0;
    top: 122px;
    width: 100%;
    border: none;
  }
  .navbar .dropdown {
    position: static;
  }
  .navbar .dropdown:hover > .dropdown-menu {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    visibility: visible;
  }
  .navbar .dropdown-submenu {
    position: relative;
  }
  .navbar .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .navbar .dropdown-submenu:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
  }
}
@media screen and (max-width: 991px) {
  .demo-14 .navbar-container {
    justify-content: flex-start;
    position: relative;
  }
  .demo-14 .offcanvas-navbar {
    position: absolute;
    right: 0;
    top: -3px;
    flex-direction: unset;
  }
  .demo-14 .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
  .demo-14 .navbar-collapse .navbar-nav .nav-item .nav-link:last-child {
    border-bottom: none;
  }

  .main-wrapper .content-wrapper h1 {
    font-size: 30px;
  }
  .main-wrapper .content-wrapper p {
    font-size: 16px;
  }

  .fashion-list {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }

  .departments-menu-item .departments-menu-item-row {
    position: static;
    width: 100%;
    padding: 0;
    display: none;
    visibility: visible;
    opacity: 1;
  }
  .departments-menu-item .departments-menu-item-row.show {
    display: block;
    margin-top: 20px;
  }
  .departments-menu-item .departments-menu-link::after {
    transform: rotate(90deg);
    transition: 0.3s linear all;
  }
  .departments-menu-item .departments-menu-link.active {
    background-color: transparent;
    color: #000000;
  }
  .departments-menu-item .departments-menu-link.show {
    background-color: #dddddd;
  }
  .departments-menu-item .departments-menu-link.show::after {
    transform: rotate(-90deg);
    transition: 0.3s linear all;
  }
}
@media screen and (max-width: 767px) {
  .ads-image {
    width: 200px;
    margin: 10px auto;
  }
}
@media screen and (max-width: 576px) {
  .section {
    padding: 50px 0;
  }

  .section-heading {
    font-size: 27px;
    margin-bottom: 20px;
  }

  .button {
    padding: 6px 30px;
    font-size: 14px;
  }

  .option-2navtab {
    flex-direction: column;
  }
}
/*=====  End of media queries  ======*/
